.title {
    text-decoration: darkturquoise;
    text-transform: uppercase;
    font-size: 150%;
    margin: auto;
}

.animated-eye {
    animation-name: eye;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes eye {
    from {color: black;}
    to {color: white;}
}